body {
  background-color: aqua;
  border: 5px solid #333;
  min-height: 96vh;
  font-style: italic;

  /* top navigation bar */

  .topnav {
    background-color: black;
    position: fixed;
    text: white;

  }


}